* {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.2 all ease-out;
}
.container {
	background-color: #303030;
	width: 100%;
	height: 100vh;
	color: #F4F4F4;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

h1{
	font-family: Merriweather, serif;
	text-align: center;
}

.container-timer {
	border-radius: 12px;
	box-shadow: 0.5px 1px 30px #FFF;
	width: 80%;
	min-width: 320px;
	max-width: 500px;
	height: 70vh;
	max-height: 500px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.output {
	font-size: 24px;
	font-family: 'Open-sans', sans-serif;
}
.timer {
	font-size: 48px;
	font-family: 'Open-sans', sans-serif;
}
.input {
	background-color: #F1F1F1;
	font-size: 14px;
	font-weight: 400;
	padding: 5px 10px;
	border: none; 
}
.input:focus{
	box-shadow: 0.5px 1px 10px #F4F4F4;
}
.btn {
	margin-right: 10px;
	padding: 10px 20px;
	font-size: 16px;
	border: 1px solid #FFF;
	color: #fff;
	background-color: #3f6f21;
	cursor: pointer;
	transform: scale(1);
	transition: 0.2s all ease-out;
}
.btn:active {
	transform: scale(0.90);
}
.stop {
	padding: 10px 20px;
	font-size: 16px;
	border: 1px solid #FFF;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
	transform: scale(1);
	transition: 0.2s all ease-out;
}
.stop:hover {
	background-color: #B22222;
}
.stop:active {
	transform: scale(0.90);
}
.block {
	margin-right: 10px;
	padding: 10px 20px;
	font-size: 16px;
	background-color: transparent;
}
.error {
	color: red;
	font-size: 24px;
	font-family: 'Open-sans', sans-serif;
}


